<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
 
{{>navbar}}
<!--MAIN HEADER-->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col md-6 col-6 main_header_left">
                    <p>I am <span class="text_color">MERN Stack Developer</span>, Student.</p>
                </div>
                <div class="col md-6 col-6 main_header_right">
                    <figure>
                        <img src="images/author.jpg" alt="author" class="img-fluid" title="SudhansuAuthor">
                    </figure>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer-->
{{>footer}}

</body>

</html>